h1{
    color: black;
    background-color: coral;
}
.lorem_place{
    text-align: right;
}
#text_ID{
    text-shadow: 1px 1px purple;
    color: purple;
}

.list {
    font-style: italic;
    font-weight: 900;
    text-align: center;
    list-style-type: none;
    font-size: 25px;
}
.red{
    color: red;
}
.black{
    color: black;
    text-shadow: 1px 1px black;
}
.green{
    color: green;
    text-align: right;
}
.purple{
    color: purple;
    text-align: left;
}

.border{
width: 450px;
height: 250px;
background-color: darkgoldenrod;
margin: 30px auto;
padding-top: 20px;
padding-left: 40px;
box-sizing: border-box;
border: 10px solid black;
border-radius: 40px;

}
